<?xml version="1.0" encoding="utf-8"?><configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="iRacingSDK" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.13.9288.31088" newVersion="1.13.9288.31088" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="InputManagerCS" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.1" newVersion="1.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>